<!--Content-->
	<section class="container-fluid">
		<div class="container">
			<div class="col-md-5 login_box">
				<form id="loginform">
				<h3 class="login_tit"><span class="glyphicon glyphicon-log-in"></span> {$Think.lang.LOGIN_RESET_OK}</h3>
				<div class="form-group">
					<i class="login_tips">{$Think.lang.LOGIN_RESET_INFO}</a></i>
				</div>
				<div class="form-group text-center">
					<a href="/login" class="btn btn-primary login_btn">{$Think.lang.LOGIN_RESET_LOGIN}</a>
				</div>
				</form>
			</div>
		</div>
	</section>
<!--Content end-->
